*{box-sizing: border-box;}
a{text-decoration: none;}
img{width: 100%;
height: auto;
}

.wrap{background-color: #fcfcfc;
max-width: 1200px;
/* min-width: 320px; */
margin: 0 auto;
}

.banner {display: flex;
justify-content: space-between;
/* margin: 1rem 0; */
padding: 1rem;
}

.nav {display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.nav li{margin: 1rem 0;
}
.nav a {
  /* display: block; */
color: #ffffff;
font-family: Microsoft JhengHei;
font-weight: bold;
font-size: 19px;
letter-spacing: 1px;
padding:0.5rem;
background:#3399FF;
}
.nav a:hover{background: #ffa90a;}

.container {display: flex;
justify-content: space-between;
align-items: flex-start;
}

.content {width: 69%;
margin: 1.5%;
border: 2px solid #111111;
padding: 1.5rem;
}
.content h2{font-size: 23px;
letter-spacing: 1px;
line-height: 1.5;
font-weight: bolder;
margin-bottom: 2rem;
}
.content h3{font-size: 17px;
letter-spacing: 1px;
line-height: 1.5;
font-weight: bold;
margin-bottom: 1.5rem;
}
.content p{font-size: 15px;
letter-spacing: 1px;
line-height: 1.5;
text-indent: 2rem;
}

.aside{width: 24%;
margin: 1.5% ;
border: 2px solid #111111;
}
.aside a {display: block;}
.aside img{margin: 0 auto;
padding: 10px;
}

.footer{text-align: center;
line-height: 1.5;
padding: 15px;
}

@media (max-width:768px)
{ .banner {flex-direction: column;
    align-items: center;}
  .logo{width: 150px;}
  .container{flex-direction: column;
    align-items: center;
    margin: 0.5em 1rem;}
  .content{width: 100%;}
    .aside{width: 50%;}
  .aside ul{display: flex;
    flex-direction: column;
    align-items: center;}
    .aside img{width: 100%;}
}

@media (max-width:420px)
{.nav{width: 50%;}
.nav a{font-size: 14px;
letter-spacing: 1px;}
.aside ul{flex-direction: column;}
}

@media (max-width:340px)
{.nav{width: 60%;}
}




